<!DOCTYPE html>
<html>
<head>
<title>RUflyer</title>
<!--fonts-->
<link href='//fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
<!--//fonts-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/chocolat.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Arts School Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />

<!-- //for-mobile-apps -->
<!-- js -->
<!-- start-smoth-scrolling -->
</head>
<body>
<div class="header">
  <div class="header-left">
    <a href="/#"><img src="images/logo.png" alt=""/><span>RU</span> Flyer</a>
  </div>
  <div class="header-right">
    <span class="menu"><img src="images/menu.png" alt=""/></span>
      <nav class="cl-effect-11" id="cl-effect-11">
        <ul class="nav1">
          <li><a  href="/#" data-hover="HOME">HOME</a></li>
          <li><a  href="/register" data-hover="Register">Register</a></li>
          <li><a  href="/login" data-hover="Login">Login</a></li>
          <li><a  href="/dashboard" data-hover="Dashboard">Dashboard</a></li>
          <li><a  href="/event" data-hover="Events">Events</a></li>
          <li><a  href="/contact" data-hover="Contact">Contact</a></li>
        </ul>
      </nav>
        <!-- script for menu -->

          </script>
          </div>
          {{{body}}}
