  <div class="row">
    <div class="jumbotron">
      <div id="rutgers-banner">
        <!-- <img src="/pictures/redbanner-gradiant.png">  -->
        <!-- <img src="/pictures/livingston-campus.jpg">     -->
        <h2> Rutgers Social Hub</h2>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
</div>

   <div class="container-fluid">
    <div class="row">
      <h1>Welcome Rutgers</h1>
      <h3><span class="fa fa-pencil"></span> There's a lot to do  Eat, See, Create Memories.</h3>
      <h3><span class="fa fa-pencil"></span> The best way to fit into college is to get involved. Rutgers is made smaller by its many communities and closer by its shared activities. Find out more about Student Life on each of the Rutgers campuses.
      </h3>
    </div><!--end of .row-->

      <div class="row">
    <div class="col-md-6">
      <section id="education">
        <h2><span class="fa fa-edit"></span>Education</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
          massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
          quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
          Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
        </p>
        <p>Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus,
          tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum.
          Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem.
        </p>
          <button type="button" class="btn btn-primary">Learn More</button>
      </section><!--end of #web-design-->
    </div>
    <div class="col-md-6">
      <section id="places">
          <h2><span class="fa fa-edit"></span> Student Life</h2>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
            massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
            quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
            Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
          </p>
          <p>Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc. Etiam ultricies nisi vel augue.
            Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus,
            tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum.
            Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem.
          </p>
          <p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante.
            Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh.Nam
            quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem.
          </p>
        </section>
      </div>
    </div>







      <div class="row">
        <div class="col-md-12">
          <section class="application">
            <div class="container">
              <h2>Come and Join Us</h2>
              <div class="row">
                <div class="col-sm-6">
                  <p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus.
                  Nullam quis ante.
                  </p>
                  <img class="img-responsive  " src="https://colleges.niche.com/images/standard/38236/?v=28696a8">
                </div>
                <div class="col-sm-6">
                  <p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante.
                  Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh.
                  Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem.
                  </p>
                  <p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante.
                  Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh.
                  Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem.
                  </p>
              
                  <button type="button" class="btn btn-primary">Click Here</button>
                </div>
              </div><!--end of .row-->
            </div><!--end of .container-->  
          </section>
        </div>
      </div>
  </div><!--end of .container-->
