  <div class="row">
    <div class="jumbotron">
      <div id="rutgers-banner">
        <!-- <img src="/pictures/redbanner-gradiant.png">  -->
        <!-- <img src="/pictures/livingston-campus.jpg">     -->
        <h2> Rutgers Social</h2>
      </div>
    </div>
  </div>


  <!-- <div class="row">
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
</div> -->

<div class="row">

<div class="col-md-6">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">

    <!-- Wrapper for slides -->
    <div class="carousel-inner">

      <div class="item active">
        <img src="https://www.acui.org/uploadedImages/_PUBLISHED_CONTENT/Publications/The_Bulletin/2015/2015-07/Livingston1.jpg" height="1200" width="100%">
         <div class="carousel-caption">
          <h3>Livingston Game Center</h3>
          <p>Livingston Campus Student Center Has Alot of Things to Do as Well as an Arcade for gaming. <a href="http://sevenx.de/demo/bootstrap-carousel/" target="_blank" class="label label-danger">Bootstrap 3 - Carousel Collection</a></p>
        </div>
      </div><!-- End Item -->

       <div class="item">
        <img src=""height="1200" width="100%">
         <div class="carousel-caption">
          <h3>Headline</h3>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. <a href="http://sevenx.de/demo/bootstrap-carousel/" target="_blank" class="label label-danger">Bootstrap 3 - Carousel Collection</a></p>
        </div>
      </div><!-- End Item -->

      <div class="item">
        <img src="https://www.acui.org/uploadedImages/_PUBLISHED_CONTENT/Publications/The_Bulletin/2015/2015-07/Livingston1.jpg"height="1200" width="100%">
         <div class="carousel-caption">
          <h3>Headline</h3>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. <a href="http://sevenx.de/demo/bootstrap-carousel/" target="_blank" class="label label-danger">Bootstrap 3 - Carousel Collection</a></p>
        </div>
      </div><!-- End Item -->

      <div class="item">
          <img src="https://www.acui.org/uploadedImages/_PUBLISHED_CONTENT/Publications/The_Bulletin/2015/2015-07/Livingston1.jpg"height="1200" width="100%">
         <div class="carousel-caption">
          <h3>Headline</h3>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
        </div>
      </div><!-- End Item -->

    </div><!-- End Carousel Inner -->


    <ul class="nav nav-pills nav-justified">
        <li data-target="#myCarousel" data-slide-to="0" class="active"><a href="#">About<small>Lorem ipsum dolor sit</small></a></li>
        <li data-target="#myCarousel" data-slide-to="1"><a href="#">Projects<small>Lorem ipsum dolor sit</small></a></li>
        <li data-target="#myCarousel" data-slide-to="2"><a href="#">Portfolio<small>Lorem ipsum dolor sit</small></a></li>
        <li data-target="#myCarousel" data-slide-to="3"><a href="#">Services<small>Lorem ipsum dolor sit</small></a></li>
      </ul>


  </div><!-- End Carousel -->


</div>


<div class="col-md-6">
  <h1>WelCome To Rutgers University</h1>
  <p>This Is An Interactive Flyer for Rutgers University marketing their education, student life, sports, activities, and events.!</p>
</div>
</div>
  </div>
</div>
    <!-- End Carousel -->
</div>

    </div>
</div>
<div class="row">
<div class="col-md-12">
  <section id="education">


  <h1 class="text-center"><span class="fa fa-edit"></span>Whats Happening At Rutgers</h1>
  <hr>

  <article>
    <h1 class= "text-center">HackRu Is Back All Developers Test Your Skills and Start Hacking!</h1>
    <hr>
    <img src="http://www.digitalintervention.com/wp-content/uploads/2015/04/vendor-demo.jpg" alt="responses"height="600"  align="center"  />
    <p>.</p>
  </article>
<hr>
  </div>

</div>
</div>
</div>
<div class="container-fluid">


      <div class="row">
    <div class="col-md-6">
      <section id="education">
        <h2><span class="fa fa-edit"></span>Education</h2>
        <p>Rutgers, The State University of New Jersey, is a leading national research university and the state of New Jersey’s preeminent, comprehensive public institution of higher education. Established in 1766 and celebrating a milestone 250th anniversary in 2016, the university is the eighth oldest higher education institution in the United States. More than 67,000 students and 22,000 faculty and staff learn, work, and serve the public at Rutgers locations across New Jersey and around the world..
        </p>
        <p>Rutgers is dedicated to teaching that meets the highest standards of excellence, to conducting research that breaks new ground, and to providing services, solutions, and clinical care that help individuals and the local, national, and global communities where they live..
        </p>
          <button type="button" class="btn btn-primary">Learn More</button>
      </section><!--end of #web-design-->
    </div>
    <div class="col-md-6">
      <section id="places">
          <h2><span class="fa fa-edit"></span> Student Life</h2>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
            massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
            quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
            Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
          </p>
          <p>Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc. Etiam ultricies nisi vel augue.
            Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus,
            tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum.
            Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem.
          </p>
          <p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante.
            Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh.Nam
            quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem.
          </p>
        </section>
      </div>
    </div>







      <div class="row">
        <div class="col-md-12">
          <section class="application">
            <div class="container">
              <h2>Come and Join Us</h2>
              <div class="row">
                <div class="col-sm-6">
                  <p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus.
                  Nullam quis ante.
                  </p>
                  <img class="img-responsive  " src="https://colleges.niche.com/images/standard/38236/?v=28696a8">
                </div>
                <div class="col-sm-6">
                  <p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante.
                  Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh.
                  Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem.
                  </p>
                  <p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante.
                  Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh.
                  Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem.
                  </p>

                  <button type="button" class="btn btn-primary">Click Here</button>
                </div>
              </div><!--end of .row-->
            </div><!--end of .container-->
          </section>
        </div>
      </div>
  </div><!--end of .container-->
