  <div class="row">
    <div class="jumbotron">
      <div id="rutgers-banner">
        <!-- <img src="/pictures/redbanner-gradiant.png">  -->
        <!-- <img src="/pictures/livingston-campus.jpg">     -->
        <h2> Rutgers Social City</h2>
      </div>
    </div>
  </div>
<!-- 
<div class="row">
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
</div> 
 -->
<div class="container-fluid">
  <div class="row">
    
    <div class="home-carousel">
      <div class="col-xs-12 col-sm-12 col-md-6 home-carousel-resposiveness-col">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">

          <!-- Wrapper for slides -->
          <div class="carousel-inner">

            <div class="item active">
              <img src="/pictures/scarlet-knights_rac_fla.jpg">
              <div class="carousel-caption">
                <h3>March Madness is Here!</h3>
              <!--   <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. <a href="" target="_blank" class="label label-danger">Bootstrap 3 - Carousel Collection</a></p> -->
              </div>
            </div><!-- End Item -->

            <div class="item">
              <img src="/pictures/hackru.png">
               <div class="carousel-caption">
                <h3>April 16th</h3>
                <h3>Hack away during this 2 day hackathon starting Saturday through Sunday</h3>
              </div>
            </div><!-- End Item -->

            <div class="item">
              <img src="/pictures/RUStrong_Flyer_S16-copy-791x1024.jpg"> 
              
            </div><!-- End Item -->
            <div class="item">
              <img src="/pictures/Rutgers_Business_School_New_Brunswick.jpg">
               <div class="carousel-caption">
                <h3>MBA Admissions Open House</h3>
                <h3>March 5th</h3>
                
              </div>
            </div><!-- End Item -->
            <div class="item">
              <img src="/pictures/werblin-recreation-center.jpg">
               <div class="carousel-caption">
                <h3>Check Out Rec's Next Events</h3>
               
              </div>
            </div><!-- End Item -->      
            <div class="item">
              <img src="/pictures/livingston-campus.jpg">
               <div class="carousel-caption">
                <h3>Come See All Rutgers Has To Offer</h3>
                
              </div>
            </div><!-- End Item -->      
            <div class="item">
              <img src="/pictures/scarlet-pub_march_2016_12654176_931164516975111_8874377617859951306_n.jpg">
               
            </div><!-- End Item -->     
            <div class="item">
              <img src="/pictures/rutgers_party_2.jpg">
               <div class="carousel-caption">
                <h3>Get Your Party On</h3>
                <h4>Post your next one here</h4>
                
              </div>
            </div><!-- End Item -->

          </div><!-- End Carousel Inner -->
        </div><!-- End MyCarousel -->
      </div><!-- End class="col-md-6 home-carousel" -->
<!-- 
    <ul class="nav nav-pills nav-justified">
        <li data-target="#myCarousel" data-slide-to="0" class="active"><a href="#">About<small>Lorem ipsum dolor sit</small></a></li>
        <li data-target="#myCarousel" data-slide-to="1"><a href="#">Projects<small>Lorem ipsum dolor sit</small></a></li>
        <li data-target="#myCarousel" data-slide-to="2"><a href="#">Portfolio<small>Lorem ipsum dolor sit</small></a></li>
        <li data-target="#myCarousel" data-slide-to="3"><a href="#">Services<small>Lorem ipsum dolor sit</small></a></li>
      </ul> -->
    </div> <!-- end of col mobile resposiveness-->
    <div class="welcome">
      <div class="col-xs-12 col-sm-12 col-md-6">
        <h1>Welcome To RU Social City</h1>

        <h2>See everything that is going on at Rutgers University. </h2>
        <h2>From student life, sports, activities, education, and other events, check it all out here!</h2>
        <h2>Create a profile now to add your events and spread the word!</h2>
      </div>
    </div>
    
  </div> <!-- end of row-->

  <div class="row">
    <div class="col-md-6">
      <section id="education">
        <h2><span class="fa fa-edit"></span>Education</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
          massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
          quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
          Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
        </p>
        <p>Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus,
          tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum.
          Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem.
        </p>
          <button type="button" class="btn btn-primary">Learn More</button>
      </section><!--end of #web-design-->
    </div>
    <div class="col-md-6">
      <section id="places">
          <h2><span class="fa fa-edit"></span> Student Life</h2>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
            massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
            quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
            Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
          </p>
          <p>Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc. Etiam ultricies nisi vel augue.
            Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus,
            tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum.
            Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem.
          </p>
          <p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante.
            Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh.Nam
            quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem.
          </p>
        </section>
      </div>
    </div>

  <div class="row">
    <div class="col-md-12">
      <section class="application">
        <div class="container">
          <h2>Come and Join Us</h2>
          <div class="row">
            <div class="col-sm-6">
              <p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus.
              Nullam quis ante.
              </p>
              <img class="img-responsive  " src="https://colleges.niche.com/images/standard/38236/?v=28696a8">
            </div>
            <div class="col-sm-6">
              <p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante.
              Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh.
              Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem.
              </p>
              <p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante.
              Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh.
              Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem.
              </p>

              <button type="button" class="btn btn-primary">Click Here</button>
            </div>
          </div><!--end of .row-->
        </div><!--end of .container-->
      </section>
    </div>
  </div>
</div><!--end of .container-->