
      <!-- //script for menu -->
</div>
<div class="clearfix"></div>
</div>
<!-- banner-slider -->

<!-- //banner-slider -->
<!-- welcome -->
<div class="welcome">
<div class="container">
  <div class="welcome-head">
    <h3>WELCOME TO RUTGERS</h3>
    <p>Rutgers' tradition of revolutionary teaching, research, and service has endured for nearly 250 years—a milestone few have reached. Join us for the many events planned during the yearlong commemoration of Rutgers 250, which will culminate in the 250th Anniversary on November 10, 2016..</p>
  </div>
</div>
</div>
<!-- //welcome -->
<!-- about -->
<div class="about" id="about">
  <div class="container">
    <h3>EVENTS </h3>
    <hr>
          <div class="about-grids">
      <div class="col-md-6 about-grid-right">
        <img src="http://www.digitalintervention.com/wp-content/uploads/2015/04/hack_ru_logo-e1429399293324.png" alt=" " class="img-responsive" />
      </div>
      <div class="col-md-6 about-grid-left">
        <h4>HackRu Is Back! April 16-April 17</h4>
        <p>HackRU is a 24-hour hackathon at Rutgers University. We welcome hundreds of students to join us in building awesome software and hardware projects. Industry experts and mentors come from all over the country to create an environment that fosters an atmosphere of learning through tech talks and one-on-one guidance. We encourage beginner and advanced hackers alike to challenge themselves and expand their skills.</p>
        <div class="about-grid-left-grids">
          <div class="about-grid-left-grid">
            <img src="http://news.mlh.io/wp-content/uploads/2015/02/hack-ru-fall-2014-5993.jpg" alt=" " class="img-responsive" />
          </div>
          <div class="about-grid-left-grid">
            <img src="http://www.digitalintervention.com/wp-content/uploads/2015/04/vendor-demo.jpg" alt=" " class="img-responsive" />
          </div>
          <div class="about-grid-left-grid">
            <img src="http://usacs.rutgers.edu/assets/images/slider_images/usacs-elections-1.jpg" alt=" " class="img-responsive" />
          </div>

          <div class="clearfix"> </div>
        </div>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
<!-- //about -->
<!-- services -->
<div id="services" class="services1">
<div class="container">
  <h3>EDUCATION HUB</h3>
    <div class="servc-grids">
      <div class="col-md-6 servc-grid">
        <div class="servc-grid-left">
          <span class="glyphicon glyphicon-education" aria-hidden="true"></span>
        </div>
        <div class="servc-grid-right">
          <h4>Degree Programs</h4>
          <p>Your passion may be philosophy or plant science, economics or urban planning. You may want to study anthropology, criminal justice, or Russian. Maybe you have a clear idea of your academic goals, or maybe you’re looking for mentors to help give you direction. Whatever your goals, Rutgers has a place for you..</p>
        </div>
        <div class="clearfix"> </div>
      </div>
      <div class="col-md-6 servc-grid">
        <div class="servc-grid-left">
          <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
        </div>
        <div class="servc-grid-right">
          <h4>Continuing Education</h4>
          <p>How you view continuing education can depend on where you are in life.Whether you’re just letting your curiosity point you in new directions, looking to earn a bachelor’s degree many years after completing high school, or seeking professional courses to help advance your career.</p>
        </div>
        <div class="clearfix"> </div>
      </div>
      <div class="col-md-6 servc-grid">
        <div class="servc-grid-left">
          <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
        </div>
        <div class="servc-grid-right">
          <h4>Graduate Academics</h4>
          <p>Mentoring. Collaboration. Innovation. With more than 19,000 graduate and professional students from around the globe, Rutgers is a leading research university in one of the world’s great metropolitan regions. Graduate students who come to Rutgers find professors who challenge and inspire, peers who support and encourage.</p>
        </div>
        <div class="clearfix"> </div>
      </div>


        <div class="clearfix"> </div>
      </div>
      <div class="clearfix"> </div>
    </div>
</div>
</div>
<!-- services -->
<!-- team -->
<!--start-teachers-->


 <!--//end-teachers-->
<!-- //team -->
<!-- gallery -->
<div class="gallery" id="gallery">
	<div class="container">
		<h3 class="tittle">SPORTS AND ACTIVITES</h3>
			<div class="gallery-bottom">
					<div class="col-md-4 gal-grid">
						<div class="view view-fifth">
							<a href="http://www.scarletknights.com/sports/m-lacros/spec-rel/030416aaa.html" class="b-link-stripe b-animate-go  thickbox"  title="Image Title"><img src="http://grfx.cstv.com/photos/schools/rutu/sports/m-lacros/auto_bsi_index_fourteen/11750725.jpeg" alt="" class="img-responsive">
								<div class="mask">
									<h2>No. 16 MLAX at Monmouth Saturday</h2>
									<p>A wonderful serenity has taken possession of my entire soul.</p>
									<span>More</span>
								</div>
							</a>
						</div>
					</div>
					<div class="col-md-4 gal-grid">
						<div class="view view-fifth">
						   <a href="http://www.scarletknights.com/sports/m-wrestl/spec-rel/030216aab.html" class="b-link-stripe b-animate-go  thickbox"  title="Image Title"><img src="http://grfx.cstv.com/photos/schools/rutu/sports/m-wrestl/auto_a_storywide/11745024.jpeg" alt="" class="img-responsive">
								<div class="mask">
									<h2>Big Ten Wrestling Championships Begin Saturday in Iowa City</h2>
									<p>PISCATAWAY, N.J. - No. 10 Rutgers is set for the 2016 Big Ten Championships from March 5-6 in Iowa City, Iowa.</p>
									<span>More</span>
								</div>
							</a>
						</div>
					</div>
					<div class="col-md-4 gal-grid">
						<div class="view view-fifth">
							<a href="http://www.scarletknights.com/sports/w-gym/spec-rel/030316aab.html" class="b-link-stripe b-animate-go  thickbox"  title="Image Title"><img src="http://grfx.cstv.com/photos/schools/rutu/sports/w-gym/auto_bsi_index_fourteen/11749457.jpeg" alt="" class="img-responsive">
								<div class="mask">
									<h2>Gymnastics Ready for Senior Meet</h2>
									<p>PISCATAWAY, N.J. – Returning home for the final time in 2016, Rutgers gymnastics will host Southern Connecticut State, Towson and West Chester Sunday at the Livingston Gym in a 2 p.m. quad meet..</p>
									<span>More</span>
								</div>
							</a>
						</div>
					</div>
					<div class="col-md-4 gal-grid">
						<div class="view view-fifth">
						   <a href="http://rutgersday.rutgers.edu/" class="b-link-stripe b-animate-go  thickbox"  title="Image Title"><img src="http://rutgersday.rutgers.edu/sites/default/files/images/RD_4images_hp-1.jpg" alt="" class="img-responsive">
								<div class="mask">
									<h2>RutgerDay</h2>
									<p>On Saturday, April 30 we're rolling out the scarlet carpet for our 250th anniversary and inviting visitors of all ages to experience Rutgers Day.</p>
									<span>More</span>
								</div>
							</a>
						</div>
					</div>
					<div class="col-md-4 gal-grid">
						 <div class="view view-fifth">
							<a href="http://www.rutgers.edu/info/information-patients" class="b-link-stripe b-animate-go  thickbox"  title="Image Title"><img src="http://www.rutgers.edu/sites/default/files/styles/subpage_banner_narrow/public/NR15BalijaTara7539.jpg?itok=Sry4Uvnx&timestamp=1444741844" alt="" class="img-responsive">
								<div class="mask">
									<h2>Information for Patients</h2>
									<p>In our Rutgers Biomedical and Health Sciences division, our physicians, dentists, mental health professionals, and other health practitioners comprise New Jersey’s largest network of patient-care providers.</p>
									<span>More</span>
								</div>
							</a>
						</div>
					</div>
					<div class="col-md-4 gal-grid">
						<div class="view view-fifth">
							<a href="http://www.scarletknights.com/sports/m-baskbl/spec-rel/030416aaa.html" class="b-link-stripe b-animate-go  thickbox"  title="Image Title"><img src="http://grfx.cstv.com/photos/schools/rutu/sports/m-baskbl/auto_bsi_index_fourteen/11751146.jpeg" alt="" class="img-responsive">
								<div class="mask">
									<h2>Men Basketball</h2>
									<p>MBB Hosts Host Minnesota on Senior Day.</p>
									<span>More</span>
								</div>
							</a>
						</div>
					</div>
					<div class="col-md-4 gal-grid">
						<div class="view view-fifth">
							<a href="http://www.scarletknights.com/sports/w-baskbl/recaps/030416aab.html" class="b-link-stripe b-animate-go  thickbox"  title="Image Title"><img src="http://grfx.cstv.com/photos/schools/rutu/sports/w-baskbl/auto_a_storywide/11749229.jpeg" alt="" class="img-responsive">
								<div class="mask">
									<h2>Rutgers Women Team Basketball</h2>
									<p>WBB Advances To B1G Quarterfinals in Thriller Over Nebraska.</p>
									<span>More</span>
								</div>
							</a>
						</div>
					</div>

					<div class="col-md-4 gal-grid">
						<div class="view view-fifth">
							<a href="http://www.scarletknights.com/sports/m-footbl/spec-rel/030416aaa.html" class="b-link-stripe b-animate-go  thickbox"  title="Image Title"><img src="http://grfx.cstv.com/photos/schools/rutu/sports/m-footbl/auto_a_storywide/11751593.jpeg" alt="" class="img-responsive">
								<div class="mask">
									<h2>Rutgers Football to Host Pro Day on March 9</h2>
									<p>PISCATAWAY, N.J. – Rutgers football will host its annual Pro Day on Wednesday, March 9 inside the Rutgers Indoor Practice Bubble at 9:30 a.m.</p>
									<span>More</span>
								</div>
							</a>
						</div>
					</div>
					<div class="col-md-4 gal-grid">
						<div class="view view-fifth">
						   <a href="http://www.scarletknights.com/sports/m-basebl/spec-rel/030316aab.html" class="b-link-stripe b-animate-go  thickbox"  title="Image Title"><img src="http://grfx.cstv.com/photos/schools/rutu/sports/m-basebl/auto_bsi_index_fourteen/11749633.jpeg" alt="" class="img-responsive">
								<div class="mask">
									<h2>Baseball Returns to Old Dominion</h2>
									<p>PISCATAWAY, N.J. - Winners of three of the last four games, Rutgers baseball will return to the state of Virginia to renew a yearly series versus Old Dominion.</p>
									<span>More</span>
								</div>
							</a>
						</div>
					</div>
        <div class="clearfix">
          <script src="js/jquery.chocolat.js"></script>

    <!--light-box-files -->

         </div>
    </div>

      </script>



</div>
</div>
<!-- //gallery -->
<!-- contact -->


<!-- //contact -->
<div class="copy-right">
<div class="container">
  <p> &copy; 2016 Rutgers SocialCity. All Rights Reserved | Design by  Terrence Henriquez Mark Awai Neelesh Tekal</p>
</div>
</div>
<script type="text/javascript" src="js/jquery.chocolat.js"

<!-- smooth scrolling -->
