<<<<<<< HEAD
<div class="row">
  <div class="jumbotron">
    <div id="rutgers-banner">
     <!-- <img src="/pictures/redbanner-gradiant.png">
  <img src="/pictures/livingston-campus.jpg"> -->
      <h2> Log In </h2>
=======
  <div class="row">
    <div class="jumbotron-registration-login-dashboard">
      <div id="rutgers-banner-registration-login-dashboard">
        <!-- <img src="/pictures/redbanner-gradiant.png">  -->
        <!-- <img src="/pictures/livingston-campus.jpg">     -->
        <h2> Log In </h2>
      </div>
>>>>>>> 970ce19cb7950087bcb5a3d0bab727ac8cd477d3
    </div>
  </div>
</div>

<div class="row">
<<<<<<< HEAD
<div class="col-md-6">
  <form method="POST" action="/login">

    <div class="form-group">
      <label for="exampleInputEmail1">Email</label>
      <input type="text" class="form-control" name="email">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" name="password">
    </div>

    <br/>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
</div>
Status API Training Shop Blog About Pricing
© 2016 GitHub, Inc. Terms Privacy Security Cont
=======
  <div class="col-md-6">
    <form method="POST" action="/login">
    
      <div class="form-group">
        <label for="exampleInputEmail1">User Name:</label>
        <input type="text" class="form-control" name="username">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" name="password">
      </div>
      
      <br/>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
    {{#if message}}
      <div class="row">
        <div class="col s4 offset-s4">
          <p class="errormsg">{{ message }}</p>
        </div>
      </div>
    {{/if}}
  </div>
</div>
>>>>>>> 970ce19cb7950087bcb5a3d0bab727ac8cd477d3
